.vista{
    display: flex;
    height: 95%;
    width: 98%;
    border: 5px solid gray;
    background-color: green;
    border-radius: 5px;
    flex-direction: column;

}

.piso{
    display: flex;
    align-self: flex-end;
    width: 100%;
    height: 15%;
    background-color: #3c7467;
}



.pared{
    display: flex;
    align-self: flex-start;
    width: 100%;
    height: 85%;
    background-color: #7aceb4;
    flex-direction: row;
    
}

@keyframes latidos {
    from { transform: none; }
    50% { transform: scale(1.2); }
    to { transform: none; }
}

button{
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.flipon{
    display: flex;
    background-image: url("../../public/images/flipon.png");
    width: 30px;
    height: 40px;
    align-self: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: -105px;
    margin-left: 5vw;
    border: 0;
    background-color: transparent;
}










