.librera{
    display: flex;
    background-image: url("../../public/images/librera.png");
    width: 310px;
    height: 384px;
    align-self: flex-end;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 10vw;
    flex-direction: column;
}

.CajonArriba{
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-gap: 10px;
    grid-row-gap: 200px;
    height: 85px;
    width: 304px;
    margin-top: 19px;
    margin-left: 18px;
}

.ArribaIzquierda{
    background-color: red;
    width: 130px;
    height: 73px;

}

.Platino{
    display: flex;
    background-image: url("../../public/images/Platino.png");
    width: 80px;
    height: 73px;
    background-repeat: no-repeat;
    background-size: contain;
    align-self: flex-end;
    margin-bottom: 2px;
    justify-self: center;
    margin-left: 8px;

}

.Estrella{
    display: flex;
    background-image: url("../../public/images/Estrella.png");
    width: 80px;
    height: 73px;
    background-repeat: no-repeat;
    background-size: contain;
    align-self: flex-end;
    margin-bottom: 2px;
    justify-self: center;
    margin-left: 8px;

}

.CajonCentro{
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(5, 28px);
    height: 90px;
    width: 268px;
    margin-top: 8px;
    margin-left: 21px;
}

.figma{
    background-image: url("../../public/images/figma.png");
}

.skills{
    background-image: url("../../public/images/conocimientos.png");
    margin-left: 2.5px;
    transform: rotate(-5deg);
}

@keyframes latidos2 {
    from { transform: none; }
    50% { transform: scale(1.02); }
    to { transform: none; }
}

.replicas{
    background-image: url("../../public/images/replicas.png");

}
.work{
    background-image: url("../../public/images/proyectos.png");
}

.work1{
    background-image: url("../../public/images/proyectos.png");
    animation: 'latidos2 .5s infinite'
}

button{
    border: 0;
    background-color: transparent;
    cursor: pointer;
    height: 85px;
    width: 30px;
    align-self: flex-end;
    background-repeat: no-repeat;
    background-size: contain;
}