.tele{
    display: flex;
    background-image: url("../../images/tele.png");
    width: 400px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    align-self: center;
    margin-right: -14px;
    overflow: hidden;
}

.mueble{
    display: flex;
    background-image: url("../../images/mueble.png");
    width: 355.5px;
    height: 188.25px;
    align-self: flex-end;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: -5px;
    align-self: center;
}

@keyframes izquierda {
    from { transform: translate(0px,0px); } to { transform: translate(-100px,0px); }
}

.centro{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: flex-end;
    margin-left: 7vw;
    width: fit-content;
}

@keyframes izquierda {
    10%{
        transform:translatex(-1%);
      }
     25%{
        transform:translatex(-2%);
      }
      35%{
        transform:translatex(-3%);
      }
      50%{
        transform:translatex(-4%);
      }
      60%{
        transform:translatex(-5%);
      }
      75%{
        transform:translatex(-6%);
      }
      85%{
        transform:translatex(-7%);
      }
      100%{
        transform:translatex(-800%);
      }
     
}

.pantalla{
    width: 332px;
    height: 157px;
    margin-left: 26px;
    margin-top: 9px;
    border-radius: 2px;
    border: 0px solid transparent; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: 2s ease;
    background-color: black;
}

.diapositiva{
    display: flex;
    width: 328px;
    height: 155px;
    background-color: red;
}

.diapositiva1{
    display: flex;
    width: 328px;
    height: 155px;
    background-color: purple;
}